<div class="overlay">
  <div class="window">
    <button type="button" class="window__close-btn">X</button>
    <h2 class="window__title">Here you can create your new task</h2>
    <form class="window__form">
      <ul>
        <li>
          <select name="category">
            <option>Choose the category</option>
            <option>Task</option>
            <option>Random Thought</option>
            <option>Idea</option>
            <option>Quote</option>
          </select>
        </li>
        <li>
          <label for="noteName">Note Name</label>
          <input type="text" id="noteName" name="name" placeholder="Note Name" />
        </li>
        <li>
          <label for="noteContent">Note Content</label>
          <textarea type="text" id="noteContent" name="content" placeholder="Note Description" />
        </li>
      </ul>

      <button type="submit" class="window__submit-btn">Add Note</button>
    </form>
  </div>
</div>
