<table class="summary-table" id="summaryTable">
  <thead>
    <tr>
      <th>Note Category</th>
      <th>Active</th>
      <th>Arhived</th>
    </tr>
  </thead>

  <tbody class="summary-table__list">
    <tr>
      <td>Task</td>
      <td class="task__active"></td>
      <td class="task__archived"></td>
    </tr>

    <tr>
      <td>Random Thought</td>
      <td class="thought__active"></td>
      <td class="thought__archived"></td>
    </tr>

    <tr>
      <td>Quotes</td>
      <td class="quotes__active"></td>
      <td class="quotes__archived"></td>
    </tr>

    <tr>
      <td>Idea</td>
      <td class="idea__active"></td>
      <td class="idea__archived"></td>
    </tr>
  </tbody>
</table>
